<div class="modal-header">
    <h3 class="modal-title"style="text-align:center;color:#5aadbb;size:20px">{{$ctrl.text}}</h3>
</div>
<form ng-submit="$ctrl.register()" class="newman">
    <div class="modal-body" >
        <div class="row user-name">
            <div class="col-md-4">
                用户名:</div>
            <div class="col-md-8"><input class="user-name-one" ng-model="$ctrl.newModel.userid" placeholder="名称" ng-change="$ctrl.replay()"/>
            </div>
        </div>
        <div class="row user-name">
            <div class="col-md-4">请输入密码:</div>
            <div class="col-md-8">
                <input type="password" class="user-name-one" ng-model="$ctrl.newModel.psword" placeholder="密码" ng-change="$ctrl.replay()">
            </div>
        </div>
        <div class="row user-password">
            <div class="col-md-4">请重复密码:</div>
            <div class="col-md-8">
                <input type="password" class="user-name-one" ng-model="$ctrl.newModel.password" placeholder="密码" ng-change="$ctrl.replay()">
            </div>
        </div>
    </div>
      <div>
              <script type="text/ng-template" id="alert.html">
                <div ng-transclude></div>
              </script>
              <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')">{{alert.msg}}</div>
      </div>
    <div class="modal-footer">
        <input class="btn btn-primary" type="submit" id="submit" value="注册" />
        <button class="btn btn-warning" type="button" ng-click="$ctrl.close()">取消</button>
    </div>
</form>