<div class="component">
	<!--写入代码-->
	<div>
		<div class="public-button">
			<div class="input-group select2-bootstrap-append" style="display:inline-block">
					<ui-select ng-model="$ctrl.selectcompany" class="spguilei" theme="select2" ng-disabled="false" on-select="$ctrl.beCustidSelected($item, $model)" style="width:200px">
						<ui-select-match  placeholder="请输入客户名称...">{{$select.selected.custname || $select.selected}}</ui-select-match>
						<ui-select-choices style="width:200px" refresh="$ctrl.searchasynccustname($select.search, $model)" refresh-delay="0 " repeat=" item.id as item in $ctrl.selsource1 track by $index " style="width:256px">
						<div ng-bind-html="item.custname | highlight: $select.search"></div>
									<!--<small ng-bind-html="item.custid.custname | highlight: $select.search"></small>-->
						</ui-select-choices>
					</ui-select>
					<span class="input-group-btn" style="margin-left:-38px; display:inline-block; height:29px">
								<button  type="button" class="btn selectclose" ng-click="$ctrl.removecompany()" style="height:29px; background-image: linear-gradient(to top, #fff 0%, #eee 50%);border: 1px solid #aaa;border-left:none">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
					</span>
			</div>
			<div style="float:right">
			<button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.findAll(keyword)">查询</button>
			<button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.delete()">删除</button>
		   </div>
		    <div style="float: right;" >
			<input type="text" style="width: 300px" class="form-control input-search" my-enter="$ctrl.findAll(keyword)" ng-model="keyword" placeholder="客户业务编号，公司业务编号"
				aria-describedby="basic-addon2">
		</div>
		</div>
		<br>
		<br>
		<div ui-grid="$ctrl.gridOptions" ui-grid-pagination ui-grid-selection ui-grid-exporter ui-grid-auto-resize class="grid" style="height:550px"></div>
	</div>

</div>