<div class="component">
	<!--写入代码-->
	<div>
		<div class="public-button">
			<div style="float:right">
			<button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.findAll(modelkey)">查询</button>
			<button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.delete()">删除</button>
			<button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.addnew()">添加</button>
		   </div>
		    <div style="float: right;" >
			<input type="text" style="width: 300px" class="form-control input-search" my-enter="$ctrl.findAll(modelkey)" ng-model="modelkey" placeholder="查询"
				aria-describedby="basic-addon2">
                <!--$ctrl.searchCondition.condition.description-->
		</div>
		</div>
		<br>
		<br>
		<!--弹出层--> 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$ctrl.close()">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					提示信息
				</h4>
			</div>
			<div class="modal-body" id="modalbody">
				{{$ctrl.text}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="$ctrl.okbtn()" id="okbtn" style="display:none">
					确定
				</button>
				<button type="button" class="btn btn-default" ng-click="$ctrl.close()">关闭
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
		<div ui-grid="$ctrl.gridOptions" ui-grid-pinning ui-grid-resize-columns ui-grid-pinning ui-grid-edit ui-grid-pagination ui-grid-selection ui-grid-exporter ui-grid-auto-resize class="grid" style="height:550px"></div>
	</div>
</div>