<div class="component w">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$ctrl.close()">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					提示信息
				</h4>
			</div>
			<div class="modal-body" id="modalbody">
				{{$ctrl.text}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="$ctrl.okbtn()" id="okbtn" style="display:none">
					确定
				</button>
				<button type="button" class="btn btn-default" ng-click="$ctrl.close()">关闭
				</button>
			</div>
		</div><!-- /.modal-content -->
	 </div><!-- /.modal -->
   </div>
	<div>
		<p><input type="submit" class="btn btn-default btn-primary" value="保存商品信息" data-toggle="modal" data-target="#myModal" ng-click="$ctrl.spxinxisavedetailInfo()">
		<input type="submit" class="btn btn-default btn-primary" value="关联商品归类" data-toggle="modal" data-target="#myModal" ng-click="$ctrl.attachcustcopy()">
		<input type="submit" class="btn btn-default btn-primary" value="确认通过" data-toggle="modal" data-target="#myModal" ng-click="$ctrl.confirmtopro()">
		<input type="submit" class="btn btn-default btn-primary" value="删除" data-toggle="modal" data-target="#myModal" ng-click="$ctrl.delete()">
		</p>
		<div class="modal fade" id="myModaloneopete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" ng-click="$ctrl.closetempjosn()" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">
							详细信息
						</h4>
					</div>
					<div class="modal-body" id="modalbodytemp">
						<ul>
							<li ng-repeat="(key,value) in $ctrl.detailInfoData.opetempjson">
								<span>{{key}}:</span>
								{{value}}
							</li>
						</ul>
					</div>
					<div class="modal-footer">
						<button type="button" ng-click="$ctrl.closetempjosn()" class="btn btn-default" data-dismiss="modal">关闭
						</button>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div>
			<div class="row" style="margin-top: 10px">
				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">SKU</label></div>
				<div class="col-md-3"><input type="text" style="width: 100%" ng-model="$ctrl.detailInfoData.SKU"></div>
				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">HScode</label></div>
				<div class="col-md-3"><input type="text" style="width: 100%" ng-model="$ctrl.detailInfoData.HScode"></div>
			</div>
			<div class="row" style="margin-top: 3px">
				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">商品名称</label></div>
				<div class="col-md-3"><input type="text" style="width: 100%" ng-model="$ctrl.detailInfoData.Cgoodsname"></div>
				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">fakeCspec</label></div>
				<div class="col-md-3">
					<input type="text" style="width: 80%;float:left;height:29px;" ng-model="$ctrl.detailInfoData.fakeCspec">
					<input type="button" value="显示" style="width: 20%;float:left; height:29px;" class="btn btn-default btn-sm" data-target="#myModal" ng-click="$ctrl.guilei($ctrl.detailInfoData.HScode)">
				</div>
			</div>
			<div class="row" style="margin-top:3px">
				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">结算客户</label></div>
				<div class="col-sm-3">
					  <ui-select ng-model="$ctrl.detailInfoData.custid" theme="select2" ng-disabled="false" on-select="$ctrl.beCustidSelected($item, $model)" style="width:100%">
							<ui-select-match placeholder="请选择...">{{$select.selected.custname || $select.selected}}</ui-select-match>
							<ui-select-choices refresh="$ctrl.searchAsynccustname($select.search)" refresh-delay="0 " repeat=" item.id as item in $ctrl.selsource1 track by $index ">
							<div ng-bind-html="item.HSCode | highlight: $select.search"></div>
							<small ng-bind-html="item.custname | highlight: $select.search"></small>
							</ui-select-choices>
					</ui-select>
				</div>
				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">关联归类</label></div>
				<div class="col-md-3">
						<ui-select ng-model="$ctrl.detailInfoData.ClassifiedProductid" theme="select2" ng-disabled="false" style="width:80%;float:left" ng-click="$ctrl.searchAsyncHScode()"  on-select="$ctrl.log($select.selected)" on-select="$ctrl.beCustidSelected($item, $model)">
							<ui-select-match placeholder="请选择...">{{$select.selected.HScode || $select.selected}}</ui-select-match>
							<ui-select-choices refresh="$ctrl.searchAsyncHScode($select.search) " refresh-delay="0" repeat=" item.id as item in $ctrl.selsource track by $index">
							<div ng-bind-html="item.Cspec | highlight: $select.search"></div>
							<small ng-bind-html="item.Hscode | highlight: $select.search"></small>
							</ui-select-choices>
						</ui-select>
					<input type="button" style="height:29px;width: 20%;float:left" class="btn btn-default btn-primary" value="归类" ng-click="$ctrl.goGuileidetail()">
				</div>
			</div>
			<div class="row" style="margin-top: 3px">
				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">材质类别(英)</label></div>
				<div class="col-md-3"><input type="text" style="width: 100%" ng-model="$ctrl.detailInfoData.SpecEN"></div>
				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">材质(英)</label></div>
				<div class="col-md-3"><input type="text" style="width: 100%" ng-model="$ctrl.detailInfoData.MaterialEN"></div>
			</div>
			<div class="row" style="margin-top: 3px">
				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">规格</label></div>
				<div class="col-md-3"><input type="text" style="width: 100%" ng-model="$ctrl.detailInfoData.SpecCN"></div>
				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">状态</label></div>
				<div class="col-md-3"><input type="text" style="width: 100%" readonly="readonly" ng-model="$ctrl.detailInfoData.status"></div>
			</div>
			<div class="row" style="margin-top: 3px">
				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">创建人</label></div>
				<div class="col-md-3"><input type="text" style="width: 100%" ng-model="$ctrl.detailInfoData.CreatePerson"></div>
				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">最后修改人</label></div>
				<div class="col-md-3" style="text-align: right"><input type="text" style="width: 100%" ng-model="$ctrl.detailInfoData.LastUpdateDate"></div>
			</div>
			<div class="row" style="margin-top: 3px">
				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">修改人</label></div>
				<div class="col-md-3"><input type="text" style="width: 100%" ng-model="$ctrl.detailInfoData.LastUpdatePerson"></div>
				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">分类编号</label></div>
				<div class="col-md-3"><input type="text" style="width: 100%" ng-model="$ctrl.detailInfoData.ClassifyNO"></div>
			</div>
			<div class="row" style="margin-top: 3px">
				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">备注</label></div>
				<div class="col-md-3"><input type="text" style="width: 100%" ng-model="$ctrl.detailInfoData.Memo"></div>
				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">创建日期</label></div>
				<div class="col-md-3"><input type="text" style="width: 100%" ng-model="$ctrl.detailInfoData.createdAt"></div>
			</div>
			<div class="row" style="margin-top: 3px">
				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label>GoodsnameCN</label></div>
				<div class="col-md-3"><input type="text" style="width: 100%" ng-model="$ctrl.detailInfoData.GoodsnameCN"></div>
				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">ClassifyMD5Source</label></div>
				<div class="col-md-3"><input type="text" style="width: 100%" ng-model="$ctrl.detailInfoData.ClassifyMD5Source"></div>
			</div>
			<div class="row" style="margin-top: 3px">
				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">templateJson</label></div>
				<div class="col-md-3">
					<input type="text" style="width:80%;float:left; height:29px" value={{$ctrl.detailInfoData.templateJson}}>
					<input type="button" value="显示" style="height:29px;width: 20%;float:left" class="btn btn-default btn-sm" data-target="#myModaloneceshi" ng-click="$ctrl.showtemplatejsonceshi()">
				</div>

				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">opetempjson</label></div>
				<div class="col-md-3">
					<input type="text" style="width:80%;float:left; height:29px" value={{$ctrl.detailInfoData.opetempjson}}>
					<input type="button" value="显示" style="height:29px;width: 20%;float:left" class="btn btn-default btn-sm" data-target="#myModaloneopete" ng-click="$ctrl.showopetempjson()">
				</div>
			</div>
			<div class="row" style="margin-top: 3px">
				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">opegoodsname</label></div>
				<div class="col-md-3"><input type="text" style="width: 100%" value={{$ctrl.detailInfoData.opegoodsname}}></div>
				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">pracGoodsname</label></div>
				<div class="col-md-3"><input type="text" style="width: 100%" value={{$ctrl.detailInfoData.pracGoodsname}}></div>
			</div>
			<div class="row" style="margin-top: 3px">
				<!--<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">Cspec</label></div>
				<div class="col-md-3"><textarea type="text" style="width: 100%; max-width:350px" ng-model="$ctrl.detailInfoData.Cspec"></textarea></div>-->
				<div class="col-md-2" style="text-align: right; margin-top: 3px"><label for="exampleInputName2">规格型号</label></div>
				<div class="col-md-3"><textarea type="text" style="width: 100%; max-width:350px" ng-model="$ctrl.detailInfoData.Cspec"></textarea></div>
			</div>
		</div>
	</div>
		<div class="modal fade" id="myModaloneceshi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" ng-click="$ctrl.closetemp()" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">
							详细信息
						</h4>
					</div>
					<div class="modal-body" id="modalbodytemp">
						<ul>
							<li ng-repeat="(key,value) in $ctrl.detailInfoData.templateJson">
								<span>{{key}}:</span>
								{{value}}
							</li>
						</ul>
						<div style="border:1px solid #e5e5e5; font-size:20px; margin-bottom: 10px; text-align:center">opetempjson</div>
						<ul>
							<li>
								<span>maincomp</span>
								<input style="width:300px" type="text" ng-model="$ctrl.detailInfoData.opetempjson.maincomp">
							</li>
							<li>
								<span>CProductName</span>
								<input style="width:300px" type="text" ng-model="$ctrl.detailInfoData.opetempjson.CProductName">
							</li>
						</ul>
					</div>
					<div class="modal-footer">
						<button type="button" ng-click="$ctrl.spxinxisavedetailInfo()" class="btn btn-primary">保存
						<button type="button" ng-click="$ctrl.syntemjlocalsingle()" class="btn btn-primary">重置
						</button>
						<button type="button" ng-click="$ctrl.saveopetempjson(opevalue)" class="btn btn-primary">保存
						</button>
						<button type="button" ng-click="$ctrl.closetemp()" class="btn btn-default" data-dismiss="modal">关闭
						</button>
					</div>
				</div>
			</div>
		</div>