<div class="component">
	<!--写入代码-->
	<div>
		<div class="public-button">
			<div style="float:right">
			<button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.search()">查询</button>
			<button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.delete()">删除</button>
		   </div>
		    <div style="float: right;" >
			<input type="text" style="width: 300px" class="form-control input-search" my-enter="$ctrl.search()" ng-model="$ctrl.searchCondition.CustYWNO" placeholder="客户业务编号，公司业务编号"
				aria-describedby="basic-addon2">
		</div>
		</div>
		<br>
		<br>
		<div ui-grid="$ctrl.gridOptions" ui-grid-pagination ui-grid-selection ui-grid-exporter ui-grid-auto-resize class="grid" style="height:550px"></div>
	</div>

</div>