<div class="modal-header">
	<h3 class="modal-title">{{$ctrl.text}}</h3>
</div>
<form ng-submit="$ctrl.ok()">
	<div class="modal-body">
		<div class="row">
			<div class="col-md-4">Name:</div>
			<div class="col-md-8">
				<input ng-model="$ctrl.actionitem.name" placeholder="Name" style="width:300px" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">Action:</div>
			<div class="col-md-8">
				<input type="radio" ng-value="true" ng-model="$ctrl.actionitem.active"> 启用
				<input type="radio" ng-value="false" ng-model="$ctrl.actionitem.active"> 禁用
			</div>
		</div>
	</div>
	<div>
		<table border="1" align="center">
			<thead>
				<tr>
					<th style="text-align:center; width:220px">
						<p style="text-align:center;color:#000;">权限</p>
						<input ng-model="$ctrl.query"/>
					</th>
					<th style="text-align:center; width:80px">操作</th>
					<th style="text-align:center; width:220px">
						<p style="text-align:center;color:#000;">拥有</p>
						<input ng-model="$ctrl.query1"/>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
			<div style="overflow:auto; height:200px">
              <div class="list-group-item" ng-repeat="all in $ctrl.hashDate|filter:$ctrl.query" ng-click="$ctrl.addAction(all.readableActionName)">
                <a href="#">{{all.readableActionName}}</a>
              </div>
            </div>
          </td>
          <td>
            &nbsp;&nbsp;<a ng-click="$ctrl.show()">全部</a><br/><br/> &nbsp;&nbsp;
            <a ng-click="$ctrl.addAction()">添加</a><br/><br/> &nbsp;&nbsp;
            <a ng-click="$ctrl.delAction()">删除</a>
          </td>
          <td>
            <!--<div class="col-md-8">
              <select ng-model="$ctrl.rightAction" ng-options="y.readableActionName for y in $ctrl.selecteData" multiple size=12 style="width:200px;"></select>
            </div>-->
            <div style="overflow:auto;height:200px">
              <div class="list-group-item" ng-repeat="rol in $ctrl.basicData | filter:$ctrl.query1" ng-model="rol" ng-click="$ctrl.delAction(rol)">
                <a href="#">{{rol.controlleraction.readableActionName}}</a>
              </div>
            </div>
          </td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer ">
		<input class="btn btn-primary" type="submit" id="submit" value="确认" />
		<button class="btn btn-warning " type="button" ng-click="$ctrl.cancel()">取消</button>
	</div>
</form>