<!--<div>
  <div>
    <div class="public-button" style="height:33px">
      <div style="float:right">
      <input type="submit" class="btn btn-default btn-sm" ng-click="$ctrl.search()" value="查询">
      <input type="submit" class="btn btn-default btn-sm" value="删除商品信息">
      <input type="submit" class="btn btn-default btn-sm" value="上传">
      <input type="submit" class="btn btn-default btn-sm" ng-click="$ctrl.Daoru()" value="添加商品信息">
      <button type="button" class="btn btn-default btn-sm" ng-click="isCollapsed = !isCollapsed" style="background-color:#48D2CC;color:#fff">open</button>
     </div>
    <div style="float:right; " >
			<input type="text" class="form-control input-search" my-enter="$ctrl.search()" ng-model="$ctrl.searchCondition.condition.SKU" placeholder="客户业务编号，公司业务编号"
				aria-describedby="basic-addon2">
		</div>
    </div>
    <hr>
      <div uib-collapse="!isCollapsed" class="public-showhide">
          <div >
            <lable>规格</lable> <input ng-model="$ctrl.searchCondition.condition.createdate.startdate" type="text"> <lable>内部编号</lable> <input ng-model="$ctrl.searchCondition.condition.createdate.enddate" type="text"> <lable>状态</lable> <input type="text"> 
          </div>
      </div>
   
    <div ui-grid="$ctrl.gridOptions" ui-grid-pagination ui-grid-selection ui-grid-exporter id="grid" class="grid" style="height: 500px"></div>
  </div>
</div>-->