<div class="component">
  <div>
    <div class="public-button" style="height:33px">
      <div style="float:left">
        <ui-select ng-model="$ctrl.selectcompany" class="spguilei" theme="select2" ng-disabled="false" on-select="$ctrl.beCustidSelected($item, $model)"
          style="width:200px">
          <ui-select-match placeholder="请输入客户名称...">{{$select.selected.custname || $select.selected}}</ui-select-match>
          <ui-select-choices style="width:200px" refresh="$ctrl.searchasynccustname($select.search, $model)" refresh-delay="0 " repeat=" item.id as item in $ctrl.selsource1 track by $index "
            style="width:256px">
            <div ng-bind-html="item.custname | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
        <!--<input style="margin-left:12px;" type="checkbox" id="searchproductid" ng-click="$ctrl.checkCspec()"> Cspec-->
      </div>
      <div style="float:right">
        <input type="submit" class="btn btn-default btn-sm" ng-click="$ctrl.findAll(modelkey)" value="查询">
        <!--<input type="submit" class="btn btn-default btn-sm" ng-click="$ctrl.delete()" value="删除商品信息">-->
        <!-- Single button -->
        <div class="btn-group" uib-dropdown is-open="status.isopen">
          <button id="single-button" type="button" class="btn  btn-sm btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                    相关操作<span class="caret"></span>
            </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <!--<li role="menuitem" ng-click="$ctrl.fillallprodetail()"><a href="#">关联所有商品信息</a></li>-->
            <!--<li role="menuitem" ng-click="$ctrl.fillHsinfos()"><a href="#">补全R2Distinct及单位</a></li>-->
            <li role="menuitem" ng-click="$ctrl.fillallHsinfos()"><a href="#">补全全部单位</a></li>
            <!--<li role="menuitem" ng-click="$ctrl.copyHsbysel()"><a href="#">复制选中归类信息</a></li>-->
            <!--<li role="menuitem" ng-click="$ctrl.fillpracname()"><a href="#">补全品名</a></li>-->
            <li role="menuitem" ng-click="$ctrl.fillallcspec()"><a href="#">补全cspec和prac</a></li>
            <li role="menuitem" ng-click="$ctrl.dragbackpro()"><a href="#">重新审核</a></li>
            <!--<li role="menuitem" ng-click="$ctrl.openupload()"><a href="#">上传内容</a></li>-->
            <!--<li role="menuitem" ng-click="$ctrl.fillfakegoodsname()"><a href="#">补全品名模板</a></li>-->
                  <!--<input type="submit" class="btn btn-default btn-sm" ng-click="$ctrl.testpost()" value="上传数据">-->
          </ul>
        </div>
        <input type="submit" class="btn btn-default btn-sm" ng-click="$ctrl.Daoru()" value="添加商品信息">
        <!--<input type="submit" class="btn btn-default btn-sm" ng-click="$ctrl.fillallprodetail()" value="关联所有商品信息">
				<input type="submit" class="btn btn-default btn-sm" ng-click="$ctrl.fillHsinfos()" value="补全R2Distinct及单位">
				<input type="submit" class="btn btn-default btn-sm" ng-click="$ctrl.copyHsbysel()" value="复制选中归类信息">-->
        <!--<button type="button" class="btn btn-default btn-sm" ng-click="isCollapsed = !isCollapsed" style="background-color:#48D1CC;color:#fff">open</button>-->
      </div>
      <div id="overlay">
        <div id="dlgcontent">
          <table id="tokenoperate">
            <tr>
              <td>
                文件类型：
              </td>
              <td><select id="ftype">
                <option value='product'>产品</option>
                <option value='kwedic'>kwedic</option>
                </select></td>
            </tr>
            <tr>
              <td>
                选择文件：
              </td>
              <td><input type="file" id="myfile" name="myfile"></td>
            </tr>
          </table>
          <div id="footer"><input type='button' class="btn-primary" data-toggle="modal" class="" data-target="#myModal" ng-click="$ctrl.upload()"
              value='确定' /><input type='button' ng-click="$ctrl.cancle()" value='取消' /></div>
        </div>
      </div>
      <div style="float:right;">
        <input type="text" class="form-control input-search" my-enter="$ctrl.findAll(modelkey)" ng-model="modelkey" placeholder="hscode"
          aria-describedby="basic-addon2">
      </div>
    </div>
    <hr>
    <div uib-collapse="!isCollapsed" class="public-showhide">
      <div>
        <lable>开始时间</lable><input ng-model="$ctrl.searchCondition.condition.createdate.startdate" type="text">
        <lable>结束时间</lable> <input ng-model="$ctrl.searchCondition.condition.createdate.startdate" type="text">
        <lable>品名</lable> <input my-enter="$ctrl.search()" ng-model="$ctrl.searchCondition.condition.Cgoodsname" type="text">
        <lable>状态</lable> <input my-enter="$ctrl.search()" ng-model="$ctrl.searchCondition.condition.Status" type="text">
      </div>
    </div>
    <div ui-grid="$ctrl.gridOptions" ui-grid-pinning ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-exporter
      id="grid1" class="grid" style="height: 500px"></div>
  </div>
</div>